.card{
  background-color: rosybrown;
  max-width: 250px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5%;
  display: inline-block;
}
.card img{
  width: 200px;
  padding: 2px;
  align-items: center
}
.stud{
 display: flex;
align-items: center;
gap: 10px;
} 
.pa{
  display: flex;
align-items: center;
gap: 10px;
}
